@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "components/sprite";

$light-color: #ffffff;
$accent-color: #65e496;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    border: none;
    outline: none;
}
small {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
body {
    font-family: 'Roboto Slab', serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: $accent-color;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: $light-color;
    border-radius: 3px;
}

.block-title {
    margin-bottom: 44px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.7px;
    span {
        margin-top: 12px;
        display: block;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.9px;
        color: $accent-color;
    }
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 160px;
    color: $light-color;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            letter-spacing: 0.5px;
            color: $light-color;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    &__name {
        margin-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 0.7px;
    }
    &__title {
        
    }
    &__description {
        margin-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.7px;
        &:last-child {
            margin-bottom: 0;
        }
       
    }
    &__btn {
        margin-top: 22px;
        margin-bottom: 20px;
    }
}

.block-book {
    margin-top: 165px;
    display: flex;
    justify-content: flex-start;
    &-demo {
        display: block;
        width: 447px;
        height: 643px;
        background-image: url(../img/book-big.svg);
        background-repeat: no-repeat;
        flex-basis: 500px;
    }
}

.page-about {
    padding-top: 161px;
    padding-bottom: 100px;
}

.block-about {
    display: flex;
    justify-content: space-between;
    &__author {
        margin-top: 15px;
        margin-bottom: 23px;
    }
    &__btn {
        margin-top: 18px;
        margin-bottom: 20px;
        padding: 15px 29px;
    }
}

.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img {
        margin-top: 45px;
        margin-right: 45px;
    }
}

.block-counter {
    margin-top: 180px;
    display: flex;
    justify-content: space-around;
    p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 18px;
    }
    span {
        display: block;
        margin-bottom: 12px;
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
        font-size: 80px;
        color: $accent-color;
    }
}