@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "components/sprite";

$general-color: #44444f;
$light-text-color: #696980;
$lighten-text-color:#9191b5;
$light-color: #ffffff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$info-color: #80809b;

::-webkit-input-placeholder {color:$lighten-text-color;}
::-moz-placeholder          {color:$lighten-text-color;}/* Firefox 19+ */
:-moz-placeholder           {color:$lighten-text-color;}/* Firefox 18- */
:-ms-input-placeholder      {color:$lighten-text-color;}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 24px;
}

p {
    @media (max-width: 576px) {
        margin-bottom: 10px;
        font-size: 14px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

a {
    text-decoration: none;
    border: none;
    outline: none;
    line-height: 1;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
small {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 0.5px;
    @media (max-width: 900px) {
        margin-top: 10px;
        text-align: center;
    }
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.55;
    color: $general-color;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 1200px) {
        max-width: 90%;
    }
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    // background-color: $accent-color;
    background: linear-gradient(to top left,  #65e4b0, #65e49c);
    font-size: 18px;
    letter-spacing: 0.7px;
    color: $light-color;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
}

.block-title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1.7px;
    @media (max-width: 900px) {
        text-align: center;
    }
    @media (max-width: 576px) {
        font-size: 30px;
    }
    span {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.9px;
        color: $accent-color;
        @media (max-width: 576px) {
            font-size: 14px;
        }
    }
    
}

.page {
    position: relative;
    &_gray {
        background-color: $bg-light-color;
    }
    &-slider {
        padding-top: 230px;
        padding-bottom: 200px;
        background-image: url(../img/bg-slider.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @media (max-width: 1020px) {
            padding-top: 150px;
            padding-bottom: 150px;
        }
        @media (max-width: 576px) {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }
 
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 160px;
    color: $light-color;
    @media (max-width: 1020px) {
        padding-bottom: 100px;
    }
    @media (max-width: 576px) {
        padding-bottom: 50px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    @media (max-width: 920px) {
        flex-direction: column;
    }
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logo.svg);
        @media (max-width: 920px) {
            margin-bottom: 10px;
        }
    }
    &-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        @media (max-width: 750px) {
            display: none;
        }
        &__item {
            margin-left: 22px;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            letter-spacing: 0.5px;
            color: $light-color;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 490px);
    @media (max-width: 1020px) {
        flex-basis: calc(93% - 315px);
    }
    @media (max-width: 900px) {
        margin-top: 30px;
        flex-basis: 100%;
    }
    &__name {
        margin-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 0.7px;
        @media (max-width: 900px) {
            text-align: center;
        }
    }
    &_events {
        flex-basis: calc(93% - 517px);
        margin-top: -20px;
        @media (max-width: 1020px) {
            flex-basis: calc(93% - 315px);
        }
        @media (max-width: 900px) {
            margin-top: 20px;
        }
    }
    &__title {
        
    }
    &__description {
        margin-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.7px;
        &:last-child {
            margin-bottom: 0;
        }
       
    }
    &__btn {
        margin-top: 18px;
        margin-bottom: 20px;
        @media (max-width: 900px) {
            margin: 0 auto;
            display: block;
            max-width: 300px;
            text-align: center;
        }
    }
    &-item {
        margin-bottom: 50px;
        &::last-child {
            margin-bottom: 0;
        }
        &__date {
            font-family: 'Open Sans', sans-serif;
            color: $light-text-color;
            @media (max-width: 900px) {
                text-align: center;
            }
        }
        &__title {
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 18px;
            letter-spacing: 0.9px;
            color: $bg-dark-color;
            @media (max-width: 900px) {
                text-align: center;
            }
        }
        &__description {
            font-family: 'Open Sans', sans-serif;
            color: $light-text-color;
            letter-spacing: 0.75px;
            
        }
        &__btn {
            margin-top: 21px;
            padding: 15px 30px;
            @media (max-width: 900px) {
                max-width: 170px;
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                text-align: center;
            }
        }
    }
}

.block-book {
    margin-top: 180px;
    display: flex;
    justify-content: flex-start;
    @media (max-width: 1020px) {
        margin-top: 100px;
    }
    @media (max-width: 900px) {
        flex-direction: column;
    }
    @media (max-width: 576px) {
        margin-top: 50px;
    }
    &-demo {
        display: block;
        margin-right: 50px;
        width: 447px;
        height: 643px;
        background-image: url(../img/book-big.svg);
        background-repeat: no-repeat;
        flex-basis: 447px;
        position: relative;
        @media (max-width: 900px) {
            flex-basis: 100%;
            margin: 0 auto;
        }
        @media (max-width: 530px) {
            width: 100%;
            height: 610px;
        }
        @media (max-width: 430px) {
            width: 100%;
            height: 540px;
        }
        @media (max-width: 320px) {
            width: 100%;
            height: 390px;
        }
        &__title {
            font-size: 36px;
            font-weight: 400;
            color: #ffffff;
            text-transform: uppercase;
            position: absolute;
            top: 100px;
            letter-spacing: 0.5px;
            width: 100%;
            text-align: center;
            span {
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: $accent-color;
                text-transform: initial;
            }
        }
        &__author {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 60px;
            left: 90px;
            letter-spacing: 0.5px;
            @media (max-width: 530px) {
                bottom: inherit;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
}

        }
    }
}

.page-about {
    padding-top: 157px;
    padding-bottom: 160px;
    @media (max-width: 1020px) {
        padding: 100px 0;
    }
    @media (max-width: 576px) {
        padding: 50px 0;
    }
    @media (max-width: 320px) {
        padding: 10px 0;
    }
}

.block-about {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
        flex-direction: column;
    }
    &__author {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 18px;
        letter-spacing: 0.5px;
        @media (max-width: 900px) {
            text-align: center;
        }
    }
    &__btn {
        margin-top: 18px;
        margin-bottom: 20px;
        padding: 15px 29px;
    }
}

.block-ava {
    position: relative;
    margin-right: -30px;
    @media (max-width: 900px) {
        max-width: 310px;
        margin: auto;
        margin-top: 20px;
    }
    @media (max-width: 400px) {
        width: 100%;
    }
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
        
        &_left {
            right: inherit;
            left: 0;
            
        }
        @media (max-width: 1020px) {
            width: 300px;
            height: 412px;
        }
        @media (max-width: 900px) {
            width: 290px;
            height: 400px;
        }
        @media (max-width: 400px) {
            display: none;
        }
        
    }
    &__img {
        margin-top: 45px;
        margin-right: 45px;
        &_left {
            margin-left: 50px;
            @media (max-width: 400px) {
                margin-left: 0;
                margin-top: 0;
            }
        }
        @media (max-width: 1020px) {
            width: 300px;
        }
        @media (max-width: 900px) {
            width: 290px;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
        @media (max-width: 320px) {
            margin-right: 0;
        }
    }
}

.block-counter {
    width: 90%;
    margin: auto;
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1020px) {
        margin-top: 100px;
    }
    @media (max-width: 750px) {
        flex-direction: column;
    }
    @media (max-width: 576px) {
        margin-top: 50px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 18px;
        @media (max-width: 750px) {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: 576px) {
            margin-bottom: 20px;
            font-size: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    span {
        display: block;
        margin-bottom: 12px;
        font-family: 'Roboto Slab', serif;
        line-height: 1;
        font-weight: 100;
        font-size: 80px;
        color: $accent-color;
        @media (max-width: 750px) {
            font-size: 60px;
           
        }
    }
}

.page-book-contents {
    padding-top: 150px;
    padding-bottom: 255px;
    @media (max-width: 1020px) {
        padding: 100px 0;
    }
    &__title {
        margin-bottom: 80px;
        text-align: center;
        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 576px) {
        padding: 50px 0;
    }
   
}

.book-contents-content {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
    @media (max-width: 1020px) {
        flex-direction: column;
    }
    h3 {
        margin-bottom: 15px;
        letter-spacing: 1.2px;
        @media (max-width: 900px) {
            text-align: center;
        }
    }
    &-social {
        margin-top: 30px;
        display: flex;
        &__title {
            
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.9px;
         }
        &__list {
            margin: 0;
            padding: 0;
            margin-left: 5px;
            list-style-type: none;
            &>li {
                margin-left: 15px;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                &>a {
                    color: $accent-color;
                }
            }
        }
    }
    &__btn {
        margin-top: 23px;
        padding: 14px 45px;
        @media (max-width: 1020px) {
            display: block;
            margin: 0 auto;
            margin-top: 23px;
        }
    }
    &__about {
        flex-basis: calc(100% - 600px);
        @media (max-width: 1020px) {
            margin-bottom: 50px;
            flex-basis: 100%;
        }
        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
    }
    &__table {
        // flex-basis: 49%;
        margin-right: -10px;
    }
    &__list {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        counter-reset: list;
        column-count: 2;
        font-family: 'Open Sans', sans-serif;
        column-gap: 20px;
        @media (max-width: 650px) {
            column-count: 1;
        }
        &>li {
            margin-bottom: 10px;
            position: relative;
            padding-left: 38px;
            counter-increment: list;
            list-style-type: none;
            &::before {
                content: counter(list) ". ";
            }
            &::after {
                position: absolute;
                padding: 0 7px;
                content: "+";
                left: 0;
                top: 1px;
                background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);
                color: #fff;
            }
        }
        &_next {
            margin-bottom: 0;
            counter-reset: list 10;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 50px;
                height: 2px;
                top: -15px;
                left: 0;
                background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);
            }
        }
    
    }
}

.page-other-books {
    padding-top: 150px;
    padding-bottom: 160px;
    @media (max-width: 1020px) {
        padding: 100px 0;
    }
    @media (max-width: 576px) {
        padding: 50px 0;
    }
    &__title {
        margin-bottom: 88px;
        text-align: center;
        @media (max-width: 576px) {
            margin-bottom: 30px;
        }
    }
    &__btn {
        display: block;
        margin: auto;
        margin-top: 85px;
        padding: 15px 30px;
        @media (max-width: 992px) {
            margin-top: 0;
        }
    }
    
}

.other-books-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    @media (max-width: 992px) {
        flex-direction: column;
    }
    &-demo {
        margin: auto;
        display: block;
        width: 269px;
        height: 409px;
        border-radius: 5px;
        background: #44444f url(../img/book-small.svg);
        background-repeat: no-repeat;
        position: relative;
        &__title {
            font-size: 24px;
            font-weight: 400;
            color: #ffffff;
            text-transform: uppercase;
            position: absolute;
            top: 16%;
            letter-spacing: 0.5px;
            width: 100%;
            text-align: center;
            span {
                display: block;
                margin-top: 5px;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                color: $accent-color;
                text-transform: initial;
            }
        }
        &__author {
            position: absolute;
            width: 100%;
            bottom: 7%;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            color: $accent-color;
            text-transform: initial;
            text-align: center;
            letter-spacing: 0.6px;
        }
    }
    &__item {
        flex-basis: 30%;
        text-align: center;
        @media (max-width: 992px) {
            flex-basis: 100%;
            margin-bottom: 50px;
            &:before {
                margin-bottom: 0;
            }
        }
    }
    &__title {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
        color: $light-text-color;
        @media (max-width: 992px) {
            width: 70%;
            margin: 0 auto;
        }
    }
    &__btn {
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        color: $accent-color;
        font-weight: 700;
        letter-spacing: 0.75px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.page-events {
    padding-top: 170px;
    padding-bottom: 125px;
    @media (max-width: 1020px) {
        padding: 100px 0;
    }
    @media (max-width: 576px) {
        padding: 50px 0;
    }
}
.page-blog {
    padding-top: 155px;
    padding-bottom: 160px;
    @media (max-width: 1020px) {
        padding: 100px 0;
    }
    @media (max-width: 576px) {
        padding: 50px 0;
    }
    &__title {
        margin-bottom: 90px;
        text-align: center;
        @media (max-width: 576px) {
            margin-bottom: 30px;
        }
    }
    &__btn {
        display: block;
        margin: auto;
        margin-top: 60px;
        padding: 15px 32px;
    }
}

.blog {
    &__content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            flex-direction: column;
        }
    }
    &-item {
        width: 31.5%;
        @media (max-width: 900px) {
            width: 70%;
            margin: 0 auto 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: 576px) {
            width: 100%;  
        }
        &__img {
            margin-bottom: 16px;
            width: 100%;
            height: 224px;
            overflow: hidden;
            img {
                max-width: 100%;
                width: 100%;
                height: 224px;
                object-fit: cover;
            }
        }
        &__title {
            font-size: 18px;
            letter-spacing: 0.9px;
            @media (max-width: 900px) {
                text-align: center;
            }
            a {
                color: $light-text-color;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        &__info {
            margin-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
            color: $info-color;
            letter-spacing: 0.75px;
            @media (max-width: 900px) {
                text-align: center;
            }
            a {
                color: $accent-color;
            }
        }
        &__text {
            font-family: 'Open Sans', sans-serif;
            color: $info-color;
            letter-spacing: 0.75px;
        }
    }
    
    
}

.page-letter {
    padding-top: 145px;
    padding-bottom: 152px;
    @media (max-width: 1020px) {
        padding: 100px 0;
    }
    @media (max-width: 576px) {
        padding: 50px 0;
    }
}

.letter {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
        flex-direction: column;
    }
    &-content {
        flex-basis: 48%;
        @media (max-width: 900px) {
            flex-basis: 100%;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__text {
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0.75px;
        }
    }
    &-form {
        margin-top: 18px;
        flex-basis: 49%;
        @media (max-width: 900px) {
            flex-basis: 100%;
            margin-top: 30px;
        }

        &__input {
            margin-bottom: 20px;
            width: 100%;
            padding: 15px 28px;
            color: $lighten-text-color;
            background-color: $bg-dark-color;
            border: none;
            outline: none;
            border-radius: 3px;
            
        }
        &__btn {
            width: 100%;
        }
    }
}

.footer {
    padding-top: 160px;
    padding-bottom: 150px;
    color: $light-text-color;
    background-color: $bg-dark-color;
    @media (max-width: 1020px) {
        padding: 100px 0;
    }
    @media (max-width: 576px) {
        padding: 50px 0;
        font-size: 12px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            flex-direction: column;
            text-align: center;
        }
    }
    &-desc {
        flex-basis: 37%;
        @media (max-width: 900px) {
            flex-basis: 100%;
            margin-bottom: 40px;
        }
        &__text {
            margin-bottom: 30px;
            letter-spacing: 0.6px;
            @media (max-width: 576px) {
                font-size: 12px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__logo {
        margin-bottom: 24px;
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/footer-logo.svg);
        @media (max-width: 900px) {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__title {
        margin-top: 2px;
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: $accent-color;
    }
    &-links {
        flex-basis: 26%;
        @media (max-width: 900px) {
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    }
    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        letter-spacing: 0.6px;
        li {
            margin-bottom: 6px;
        }
        &__link {
            color: $light-text-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-contacts {
        // flex-basis: 30%
        &__text {
            letter-spacing: 0.6px;
            a {
                color: $light-text-color;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &-list {
            list-style-type: none;
            margin: 0;
            margin-top: 15px;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
            &__link {
                color: $accent-color;
            }
        }
    }
}

.block-slider {
    text-align: center;
    h3 {
        letter-spacing: 1.2px;
        color: $accent-color;
    }
    &__text{
        margin: 0 auto;
        max-width: 760px;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.8;
        letter-spacing: 0.75px;
        color: $lighten-text-color;
    }
    &__thumb {
        display: block;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        width: 152px;
        height: 152px;
        border-radius: 100%;
        }
        img {
            width: 152px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    
    &__position {
        margin-bottom: 35px;
        letter-spacing: 0.75px;
        color: $lighten-text-color;
    }
    &__ava {
        display: block;
        margin: 0 auto 18px;
        width: 152px;
        height: 152px;
        position: relative;
    }
    &__bq {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 42px;
        background: url(../img/bq.png) center no-repeat;
        background-size: cover;
        z-index: 2;
    }
}

.slick-dots {
    margin-top: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    &>li {
        margin: 0 5px;
        &>button {
            padding: 5px;
            text-indent: -9999px;
            width: 8px;
            height: 8px;
            border: none;
            background-color: $accent-color;
            line-height: 8;
            font-size: 0;
            cursor: pointer;
            border-radius: 100%;
            &:focus {
                outline: none;
            }
           }
    }
    &>li.slick-active {
        &>button {
            width: 37px;
            border-radius: 10px;
    }
}
}