@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "components/sprite";

$general-color: #44444f;
$light-text-color: #696980;
$light-color: #ffffff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
    border: none;
    outline: none;
    line-height: 1;
}
small {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 0.5px;
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.55;
    color: $general-color;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: $accent-color;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: $light-color;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
}

.block-title {
    margin-bottom: 44px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.7px;
    span {
        display: block;
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0.9px;
        color: $accent-color;
    }
}

.page {
    &_gray {
        background-color: $bg-light-color;
    }
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 160px;
    color: $light-color;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logo.svg);
    }
    &-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        &__item {
            margin-left: 22px;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            letter-spacing: 0.5px;
            color: $light-color;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    &__name {
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 0.7px;
    }
    &__title {
        
    }
    &__description {
        margin-bottom: 30px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.7px;
        &:last-child {
            margin-bottom: 0;
        }
       
    }
    &__btn {
        margin-top: 18px;
        margin-bottom: 20px;
    }
}

.block-book {
    margin-top: 180px;
    display: flex;
    justify-content: flex-start;
    &-demo {
        display: block;
        margin-right: 50px;
        width: 447px;
        height: 643px;
        background-image: url(../img/book-big.svg);
        background-repeat: no-repeat;
        flex-basis: 447px;
        position: relative;
        &__title {
            font-size: 36px;
            font-weight: 400;
            color: #ffffff;
            text-transform: uppercase;
            position: absolute;
            top: 100px;
            letter-spacing: 0.5px;
            width: 100%;
            text-align: center;
            span {
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: $accent-color;
                text-transform: initial;
            }
        }
        &__author {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 60px;
            left: 90px;
            letter-spacing: 0.5px;

        }
    }
}

.page-about {
    padding-top: 157px;
    padding-bottom: 160px;
}

.block-about {
    display: flex;
    justify-content: space-between;
    &__author {
        margin-top: 15px;
        margin-bottom: 6px;
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    &__btn {
        margin-top: 18px;
        margin-bottom: 20px;
        padding: 15px 29px;
    }
}

.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img {
        margin-top: 45px;
        margin-right: 45px;
    }
}

.block-counter {
    width: 90%;
    margin: auto;
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 18px;
    }
    span {
        display: block;
        margin-bottom: 12px;
        font-family: 'Roboto Slab', serif;
        line-height: 1;
        font-weight: 100;
        font-size: 80px;
        color: $accent-color;
    }
}

.page-book-contents {
    padding-top: 140px;
    padding-bottom: 255px;
    &__title {
        margin-bottom: 80px;
        text-align: center;
    }
}

.book-contents-content {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
    h3 {
        margin-bottom: 15px;
        letter-spacing: 1.2px;
    }
    &-social {
        margin-top: 30px;
        display: flex;
        &__title {
            
            font-family: 'Roboto Slab', serif;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.9px;
         }
        &__list {
            margin: 0;
            padding: 0;
            margin-left: 5px;
            list-style-type: none;
            &>li {
                margin-left: 15px;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                &>a {
                    color: $accent-color;
                }
            }
        }
    }
    &__btn {
        margin-top: 23px;
        padding: 14px 45px;
    }
    &__about {
        flex-basis: 40%;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
    }
    &__table {
        flex-basis: 49%;
    }
    &__list {
        margin: 0;
        padding: 0;
        counter-reset: list;
        column-count: 2;
        font-family: 'Open Sans', sans-serif;
        &>li {
            margin-bottom: 10px;
            position: relative;
            padding-left: 38px;
            counter-increment: list;
            list-style-type: none;
            &::before {
                content: counter(list) ". ";
            }
            &::after {
                position: absolute;
                padding: 0 7px;
                content: "+";
                left: 0;
                top: 1px;
                background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);
                color: #fff;
            }
        }
    
    }
}

.page-other-books {
    padding-top: 140px;
    &__title {
        margin-bottom: 88px;
        text-align: center;
    }
    &__btn {
        display: block;
        margin: auto;
        margin-top: 85px;
        padding: 15px 30px;
    }
}

.other-books-content {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    &-demo {
        margin: auto;
        display: block;
        width: 269px;
        height: 409px;
        border-radius: 5px;
        background: #44444f url(../img/book-small.svg);
        background-repeat: no-repeat;
        position: relative;
        &__title {
            font-size: 24px;
            font-weight: 400;
            color: #ffffff;
            text-transform: uppercase;
            position: absolute;
            top: 16%;
            letter-spacing: 0.5px;
            width: 100%;
            text-align: center;
            span {
                display: block;
                margin-top: 5px;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                color: $accent-color;
                text-transform: initial;
            }
        }
        &__author {
            position: absolute;
            width: 100%;
            bottom: 7%;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            color: $accent-color;
            text-transform: initial;
            text-align: center;
            letter-spacing: 0.6px;
        }
    }
    &__item {
        flex-basis: 30%;
        text-align: center;
    }
    &__title {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
        color: $light-text-color;
    }
    &__btn {
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        color: $accent-color;
        font-weight: 700;
        letter-spacing: 0.75px;
    }
}